common --announce_rc
common --color=auto
common --all_incompatible_changes
common --incompatible_disallow_struct_provider_syntax=false

build --experimental_strict_action_env
build --worker_max_instances=4
build --worker_sandboxing
build --verbose_failures

test  --test_output=all
test  --test_env=PATH

common:v0.24 --config=noop

# pick something trivial as a "noop"
common:noop --logging=3