common:verbose --announce_rc

# Import Aspect bazelrc presets
import %workspace%/.aspect/bazelrc/convenience.bazelrc
import %workspace%/.aspect/bazelrc/debug.bazelrc

# Inlined into `bazel8.bazelrc` because of broken flags at latest. Tests enforce use of latest.
#import %workspace%/.aspect/bazelrc/correctness.bazelrc
#import %workspace%/.aspect/bazelrc/performance.bazelrc

# Import project-level presets
import %workspace%/tools/bazel/base.bazelrc
import %workspace%/tools/bazel/buildbuddy.bazelrc
import %workspace%/tools/bazel/cache.bazelrc
import %workspace%/tools/bazel/ci.bazelrc
import %workspace%/tools/bazel/bzlmod.bazelrc
import %workspace%/tools/bazel/profiles.bazelrc
import %workspace%/tools/bazel/dev.bazelrc
import %workspace%/tools/bazel/labs.bazelrc
import %workspace%/tools/bazel/strict.bazelrc
import %workspace%/tools/bazel/hermetic.bazelrc
import %workspace%/tools/bazel/java.bazelrc
import %workspace%/tools/bazel/windows.bazelrc
import %workspace%/tools/bazel/linux.bazelrc
import %workspace%/tools/bazel/macos.bazelrc

common --color=auto

build --worker_sandboxing
build --verbose_failures

# pick something trivial as a "noop"
common:noop --logging=3

try-import %workspace%/local.bazelrc
try-import %workspace%/version.bazelrc
