---
name: Bazel CI

# Controls when the action will run.
"on":
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

concurrency:
  # Cancel previous actions from the same PR: https://stackoverflow.com/a/72408109
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: bazel-contrib/.github/.github/workflows/bazel.yaml@29e53247c6366e30acbedfc767f58f79fc05836c
    with:
      folders: |
        [
          "."
        ]
      exclude_windows: true
      exclude: |
        [
          {"bazelversion": "5.4.0", "bzlmodEnabled": true},
          {"bazelversion": "5.4.0", "bzlmodEnabled": false},
          {"bazelversion": "5.4.0", "os": "macos-latest"},
        ]
