---
name: "Test"

"on":
  workflow_dispatch:
    inputs:
      ## Runner to use
      runner:
        description: "Runner"
        type: string
        default: "ubuntu-latest"

      ## Whether to build with bzlmod
      bzlmod:
        description: "Enable Bzlmod"
        type: boolean
        default: false

      ## Whether to collect and report coverage
      coverage:
        description: "Enable Coverage"
        type: boolean
        default: false
  workflow_call:
    inputs:
      runner:
        description: "Runner"
        type: string
        default: "ubuntu-latest"
      label:
        description: "Label"
        type: string
        default: "Ubuntu"
      bzlmod:
        description: "Enable Bzlmod"
        type: boolean
        default: false
      coverage:
        description: "Enable Coverage"
        type: boolean
        default: false
      labs:
        description: "Skip Failures"
        type: boolean
        default: false
    secrets:
      BUILDBUDDY_APIKEY:
        required: true
      BUILDLESS_APIKEY:
        required: true

jobs:
  test:
    name: "Test: ${{ inputs.label || 'Rules' }}"
    runs-on: ${{ inputs.runner || 'ubuntu-latest' }}
    continue-on-error: ${{ inputs.labs }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: "Setup: msbuild"
        uses: microsoft/setup-msbuild@34cfbaee7f672c76950673338facd8a73f637506 # v1.1.3
        if: ${{ contains(inputs.runner, 'windows') }}
      - name: "Setup: Bazel"
        uses: bazelbuild/setup-bazelisk@95c9bf48d0c570bb3e28e57108f3450cd67c1a44 # v2.0.0
      - name: "Setup: Cache"
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        with:
          path: "~/.cache/bazel"
          key: bazel-v2
      - name: "Configure: Bazel"
        shell: bash
        run: |
          echo "build --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_APIKEY }}" >> local.bazelrc
          echo "build --remote_header=x-api-key=${{ secrets.BUILDLESS_APIKEY }}" >> local.bazelrc
      - name: "Configure: Bzlmod"
        if: ${{ inputs.bzlmod }}
        run: |
          echo "build --config=bzlmod" >> local.bazelrc
      - name: "Build: Example"
        continue-on-error: ${{ inputs.labs }}
        shell: bash
        run: |
          bazel \
              ${{ inputs.coverage && 'coverage' || 'test' }} \
              --config=ci \
              //...

  integration-tests:
    name: "Test: ${{ matrix.label }} (${{ inputs.label || 'Rules' }})"
    runs-on: ${{ inputs.runner || 'ubuntu-latest' }}
    continue-on-error: ${{ inputs.labs || matrix.labs }}
    strategy:
      fail-fast: false
      matrix:
        label: ["BCR"]
        target: ["//sample"]
        action: ["build"]
        directory: ["./example/integration_tests/bzlmod"]
        labs: [false]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@v3
      - name: "Setup: msbuild"
        uses: microsoft/setup-msbuild@v1.1
        if: ${{ contains(inputs.runner, 'windows') }}
      - name: "Setup: Bazel"
        uses: bazelbuild/setup-bazelisk@v2
      - name: "Setup: Cache"
        uses: actions/cache@v3
        with:
          path: "~/.cache/bazel"
          key: bazel-v2
      - name: "Configure: Bazel"
        shell: bash
        run: |
          echo "build --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_APIKEY }}" >> local.bazelrc
          echo "build --remote_header=x-api-key=${{ secrets.BUILDLESS_APIKEY }}" >> local.bazelrc
      - name: "Build: ${{ matrix.label }}"
        continue-on-error: ${{ inputs.labs }}
        working-directory: ${{ matrix.directory }}
        shell: bash
        run: bazel ${{ matrix.action || 'build' }} "${{ matrix.target || '//...' }}"
