---
name: "CI"

"on":
  ## Events: Pushes on Main
  push:
    branches:
      - main
    paths:
      - docs/**/*.*
      - example/**/*.*
      - graalvm/**/*.*
      - internal/**/*.*
      - tools/**/*.*

jobs:
  dependency-graph:
    name: "Dependency Graph"
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: "Report: Dependency Graph"
        continue-on-error: true
        uses: advanced-security/maven-dependency-submission-action@v3

  build:
    name: "Build (${{ matrix.label }})"
    uses: ./.github/workflows/module.build.yml
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - runner: ubuntu-latest
            label: Ubuntu - Standard
            bzlmod: true
            labs: false
          - runner: ubuntu-latest
            label: Ubuntu - Bzlmod
            bzlmod: true
            labs: false
          - runner: windows-latest
            label: Windows
            bzlmod: false
            labs: true
          - runner: macos-latest
            label: macOS
            bzlmod: false
            labs: false

    secrets: inherit
    with:
      runner: ${{ matrix.runner }}
      label: ${{ matrix.label }}
      bzlmod: ${{ matrix.bzlmod }}
      labs: ${{ matrix.labs }}
      tests: true
