---
name: "PR"

"on":
  ## Run on PR filings
  pull_request:
    paths:
      - docs/**/*.*
      - example/**/*.*
      - graalvm/**/*.*
      - internal/**/*.*
      - tools/**/*.*

  ## Run on PR queue check requests
  merge_group: {}

concurrency:
  # Cancel previous actions from the same PR: https://stackoverflow.com/a/72408109
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  dependency-graph:
    name: "Dependency Graph"
    continue-on-error: true
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: "Report: Dependency Graph"
        continue-on-error: true
        uses: advanced-security/maven-dependency-submission-action@4f64ddab9d742a4806eeb588d238e4c311a8397d # v4.1.1

  dependency-review:
    name: "Dependency Review"
    runs-on: ubuntu-latest
    needs: [dependency-graph]
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit
      - name: "Checkout Repository"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: "Dependency Review"
        uses: actions/dependency-review-action@3b139cfc5fae8b618d3eae3675e383bb1769c019 # v4.5.0
        with:
          config-file: "./.github/dependency-review-config.yml"
          comment-summary-in-pr: always
          retry-on-snapshot-warnings: true
          warn-only: true

  test:
    name: "Tests: ${{ matrix.label }}"
    uses: ./.github/workflows/module.build.yml
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest]
        main: [true]
        label: ["Ubuntu amd64"]
        labs: [false]
        flags: ["--config=linux"]
        coverage: [false]
        include:
          # Bazel 7
          - runner: ubuntu-latest
            label: Ubuntu amd64
            labs: false
            main: true
            coverage: false
            flags: --config=linux
          - runner: macos-latest
            label: macOS arm64
            labs: false
            main: true
            coverage: true
            flags: --config=mac
          - runner: macos-13
            label: macOS amd64
            labs: false
            main: true
            coverage: true
            flags: --config=mac
          - runner: windows-2022
            label: Windows amd64
            labs: false
            main: true
            coverage: false
            flags: --config=windows

    secrets: inherit
    with:
      runner: ${{ matrix.runner }}
      label: ${{ matrix.label }}
      labs: ${{ matrix.labs }}
      main: ${{ matrix.main }}
      flags: ${{ matrix.flags }}
      coverage: ${{ matrix.coverage }}
